  *{margem: 0;preenchimento:0;}
cabeçalho{
     altura: 150px;
     mostrar;flexivel;
     justificar-conteudo:espaço ao redor;
     fronteira: 1pxpreto solido;
     alinhar-itens:centro;
     

}
cabeçalho navegação ul{
   mostrar:flexiavel;
}
cabeçalho navegação ul{
  mostrar:flexiavel;
}
cabeçalho navegação ul li{
    estilo de lista:nenhum;
